<figure class="video-container">
    {{ if .Get "title" }}
        <figcaption><h4>{{ .Get "title" }}</h4></figcaption>
    {{ end }}
    
    <video controls 
           preload="auto" 
           width="75%" 
           {{ if .Get "poster" }}poster="{{ .Get "poster" }}"{{ end }}
           {{ if .Get "autoplay" }}autoplay muted{{ end }}
           {{ if .Get "loop" }}loop{{ end }}>
        <source src="{{ .Get "src" }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</figure>